{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BASE TEMPLATE!</title>

    {% include "base/css.html" %}  

  </head>
  <body>

    {% include "base/navbar.html" %}
    {% block content %}  {% endblock %}


    {% include "base/js.html" %}
    
    <script type="text/javascript">
     
      $(document).ready(function(){   

        // search
        var searchform=$(".search-form")
        var searchinput=searchform.find("[name='q']")
        var typingtimer;
        var typinginterval=500
        var searchbutton=searchform.find("[type='submit']")
        searchinput.keyup(function(event){
          clearTimeout(typingtimer)
          typingtimer=setTimeout(performsearch,typinginterval)
        })
        searchinput.keydown(function(event){
          clearTimeout(typingtimer)
        })

        function dosearch(){
          searchbutton.addClass("disabled")
          searchbutton.html("<i class='fa fa-spin fa-spinner'></i> Searching...")
        }

        function performsearch(){
          dosearch()
          var query=searchinput.val()
          setTimeout(function(){
            window.location.href='/search/?q='+query
          },1000)
        }


        //cart + products
         var productform=$(".form-product-ajax")  
         productform.submit(function(event){
            event.preventDefault();
            var thisForm=$(this)
            var actionEndPoint = thisForm.attr("action");
            var httpMethod = thisForm.attr("method");
            var formData = thisForm.serialize();
            $.ajax({
              url:actionEndPoint,
              method:httpMethod,
              data:formData,
              success:function(data){
                var submitSpan=thisForm.find(".submit-span")
                if(data.added){
                  submitSpan.html('<button class="btn btn-outline-success" type="submit" >Remove</button>')
                }
                else{
                   submitSpan.html('<button class="btn btn-outline-success" type="submit">Add to Cart</button>')
                }
                var navbar_cart_item_count=$(".navbar-cart_item_count")
                navbar_cart_item_count.text(data.cartItemCount)
                var current_path=window.location.href
                if(current_path.indexOf("cart")!=-1){
                  refreshCart()
                }
              },
              error:function(errorData){
                console.log(errorData)
              }
            })
          
          })

         function refreshCart(){
          console.log("in this cart!")
          var cartTable=$(".cart-table")
          var cartBody=cartTable.find(".cart-body").empty()
          var updatetable=$(".update-table")
          var cartProductRow=cartBody.find(".cart-product")
          var cartProductid=cartBody.find(".id")

          var refreshCartUrl="/api/cart/"
          var data={}
          var refreshCartMethod="GET"
          var current_path=window.location.href

          $.ajax({
            url:refreshCartUrl,
            method:refreshCartMethod,
            data:data,
            success:function(data){
              //var hiddenCartItemRemoveForm=$(".cart-item-remove-form")
              if(data.products.length>0){
                i=data.products.length
                $.each(data.products,function(index,value){
                   var hiddenCartItemRemoveForm=$(".cart-item-remove-form")
                   var newCartItemRemove=hiddenCartItemRemoveForm.clone()
                   newCartItemRemove.css("display","block")
                   newCartItemRemove.find(".car-item-product-id").val(value.id)
                   console.log(value.id)
                   cartBody.append("<tr><th scope='row'>"+i+"</th><td><a href='value.url'>"+value.title+"</a></td><td>"+value.price+"</td><td>"+
                    newCartItemRemove.html()+"</td></tr>")
                  i--
                   window.location.reload();
                })
                cartTable.find(".cart-total").text(data.total)
              }
              else{
                window.location.href=current_paths
              }
            },
            error:function(errorData){
              console.log(errorData)
            }
          })
         }
      })

    </script>

  </body>
</html>