{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row mb-3">
	{% if query %}
		<div class="col-12">
			Results For <b>{{query}}..</b>
		<hr/>
	{% else %}	
		<div class="col-12 col-md-6 mx-auto py-5">
			{% include "search/snippets/search-form.html" %}
		</div>
		<div class="col-12">
			<hr>
		</div>
	{% endif %}
</div>


	<div class="container">
      <div class="row">
	{% for obj in object_list %}
		<div class="col">
			{%  include "product/snippets/cards.html"  with instance=obj  %}
		</div>
	{% endfor %}
	  </div>
   </div>
{% endblock %}